@model RankedNewsSites.Models.NewsSite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsSite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.Url)", target="_blank"> @Html.DisplayFor(model => model.Url)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureSource)
        </dt>
        <dd class = "col-sm-10">
           <img src="@Html.DisplayFor(model => model.PictureSource)" /> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
